<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="baseAdmin::layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<section class="signup-section">
		<div class="signup_container">
			<div class="right-side">
				<h2>Add Course And Price</h2>
				<th:block th:if="${session.msg}">
					<p class="text-center text-success fs-4">[[${session.msg}]]</p>
					<th:block th:text="${@userServiceImpl.removeSessionMessage()}"></th:block>
				</th:block>
				<form action="saveCourse" method="post">
					<div class="form-group">
						<label for="name">Course Name:</label> <input type="text" id="name" name="courseName"
							placeholder="Enter Course Name" required pattern="[A-Za-z\s!@#$%^&*(),.?\:{}|<>]{3,50}">
					</div>
					<div class="form-group">
						<label for="price">Price:</label> <input type="number" id="price" name="coursePrice"
							placeholder="Enter Course Price" min="0" max="10000" pattern="[6-9]\d{9}">
					</div>
					<div class="form-group">
						<input type="submit" value="Submit" class="submit-btn">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<!-- 	<a href="/signin" class="button">Log In</a> -->
					</div>
				</form>
			</div>
		</div>
	</section>
</body>

</html>