<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="baseAdmin::layout(~{::section})">

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section class="signup-section">
		<div class="signup_container">
			<div class="right-side">
				<h2>Details</h2>
				<form action="#" method="post">
					<div class="form-group">
						<label for="name">Full Name:</label> <input type="text" id="name" name="name" th:value="${user.name}" readonly>
					</div>
					<div class="form-group">
						<label for="phone">Phone:</label> <input type="text" id="phone" name="phone" th:value="${user.phone}" readonly>
					</div>
					<div class="form-group">
						<label for="email">Email:</label> <input type="email" id="email" name="email" th:value="${user.email}" readonly>
					</div>
					<div class="form-group">
						<a href="edit" class="link-button">Edit</a>
					</div>
				</form>
			</div>
		</div>
	</section>
</body>
</html>