<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>

</head>

<body>
	<section class="index-section">
		<div class="hero">
			<div class="container">
				<h1>Level Up Your Coding Skills</h1>
				<p>Join millions of developers learning, practicing, and
					mastering coding skills.</p>
				<a href="register" class="get-started-link">
					<button class="get-started-btn">Get Started</button>
				</a>

			</div>
		</div>
	</section>

</body>

</html>