<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="baseUser::layout(~{::section})">

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section class="signup-section">
		<div class="signup_container">
		
		<div class="right-side">
				<h2>Details</h2>
				<th:block th:if="${session.msg}">
					<p class="text-center text-success fs-4">[[${session.msg}]]</p>
					<th:block th:text="${@userServiceImpl.removeSessionMessage()}"></th:block>
				</th:block>
				<form action="pay" method="post">
					<input type="hidden" id="id" name="userId"
							th:value="${user.id}">
					<input type="hidden" id="id" name="courseId"
							th:value="${payment.id}">
					<div class="form-group">
						<label for="name">Course Name:</label> <input type="text" id="name" name="name"
							th:value="${payment.courseName}" readonly pattern="[A-Za-z\s]{3,50}">
					</div>
					<div class="form-group">
						<label for="phone">Price:</label> <input type="text" id="phone" name="phone"
							th:value="${payment.coursePrice}" readonly pattern="[6-9]\d{9}">
					</div>
					<div class="form-group">
						<input type="submit" value="Pay">
					</div>
				</form>
			</div>
		</div>	
	</section>
</body>
</html>